<p>
  login works!
</p>
<h3>Login</h3>
<div>
  <div class="spacer">
    <label for="user">login</label>
    <input type="text" placeholder="user" [(ngModel)]="user"/>
  </div>
  <div class="spacer">
    <label for="password">Password</label>
    <input type="password" placeholder="password" [(ngModel)]="password" class="form-control"/>
  </div>
  <div class="spacer">
    <button  type="submit" (click)="Login()">Login</button>
  </div>
</div>
<div>
    <a routerLink="/registration" routerLinkActive="active">registration</a> 
</div>

