<div>
  <nav>1</nav>
  <nav class="top-menu">
  <ul class="menu-main">
    <li *ngFor="let item of arr; let i = index"><a [routerLink]="['content',arr[i]]">{{arr[i]}}</a></li>
    <!--<li><a routerLink="/silki">silki</a></li>
    <li><a routerLink="/test">test</a></li>
    <li><a routerLink="/registrator">registrator</a></li>-->
    <li><a routerLink="/login" *ngIf="!authService.logIn">login</a></li>
    <li><a routerLink="/profile" *ngIf="authService.logIn">profile</a></li>
  </ul>
  <router-outlet></router-outlet>
</nav>
</div>


<router-outlet></router-outlet>